<?xml version="1.0" encoding="UTF-8" ?>
<root>
  <mqtt_host>mqtt.home</mqtt_host>
  <mqtt_port>1883</mqtt_port>
  <mqtt_user>user</mqtt_user>
  <mqtt_password>password</mqtt_password>
  <mqtt_prefix>rflink</mqtt_prefix>
  <mqtt_message_timeout>60</mqtt_message_timeout>
  <mqtt_switch_incl_topic>true</mqtt_switch_incl_topic>
  <mqtt_json>true</mqtt_json>
  <mqtt_include_message>false</mqtt_include_message>
  <rflink_tty_device>COM6</rflink_tty_device>
  <rflink_heartbeat>true</rflink_heartbeat>
  <rflink_heartbeat_interval>60</rflink_heartbeat_interval>
  <rflink_output_params_processing>
    <ID/>
    <SWITCH/>
    <CMD/>
    <SET_LEVEL>
      <node>str2dec</node>
    </SET_LEVEL>
    <TEMP>
      <node>shex2dec</node>
      <node>div10</node>
    </TEMP>
    <HUM>
      <node>str2dec</node>
    </HUM>
    <BARO>
      <node>hex2dec</node>
    </BARO>
    <HSTATUS>
      <node>str2dec</node>
    </HSTATUS>
    <BFORECAST>
      <node>str2dec</node>
    </BFORECAST>
    <UV>
      <node>hex2dec</node>
      <node>div10</node>
      <node>uv2level</node>
    </UV>
    <LUX>
      <node>hex2dec</node>
    </LUX>
    <BAT/>
    <RAIN>
      <node>hex2dec</node>
      <node>div10</node>
    </RAIN>
    <RAINRATE>
      <node>hex2dec</node>
      <node>div10</node>
    </RAINRATE>
    <WINSP>
      <node>hex2dec</node>
      <node>div10</node>
    </WINSP>
    <AWINSP>
      <node>hex2dec</node>
      <node>div10</node>
    </AWINSP>
    <WINGS>
      <node>hex2dec</node>
      <node>div10</node>
    </WINGS>
    <WINDIR>
      <node>mapdir</node>
    </WINDIR>
    <WINCHL>
      <node>shex2dec</node>
      <node>div10</node>
    </WINCHL>
    <WINTMP>
      <node>shex2dec</node>
      <node>div10</node>
    </WINTMP>
    <CHIME>
      <node>str2dec</node>
    </CHIME>
    <SMOKEALERT/>
    <PIR/>
    <CO2/>
    <SOUND>
      <node>str2dec</node>
    </SOUND>
    <KWATT>
      <node>hex2dec</node>
    </KWATT>
    <WATT>
      <node>hex2dec</node>
    </WATT>
    <CURRENT>
      <node>str2dec</node>
    </CURRENT>
    <CURRENT2>
      <node>str2dec</node>
    </CURRENT2>
    <CURRENT3>
      <node>str2dec</node>
    </CURRENT3>
    <DIST>
      <node>str2dec</node>
    </DIST>
    <METER>
      <node>str2dec</node>
    </METER>
    <VOLT>
      <node>str2dec</node>
    </VOLT>
    <RGBW/>
    <message/>
  </rflink_output_params_processing>
  <rflink_ignored_devices>Friedland</rflink_ignored_devices>
  <rflink_ignored_devices>Oregon Temp/FD10</rflink_ignored_devices>
  <rflink_ignored_devices>BL999</rflink_ignored_devices>
  <rflink_ignored_devices>RTS</rflink_ignored_devices>
</root>